<!DOCTYPE html>
<html ng-app="tweeterApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>
        Global Twitter analysis
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript">
        var data = {{ result|safe }}
        var tweeterApp = angular.module('tweeterApp', [], function($interpolateProvider) {
            $interpolateProvider.startSymbol('{[');
            $interpolateProvider.endSymbol(']}');
        });
        tweeterApp.config(['$httpProvider', function ($httpProvider) {
            $httpProvider.defaults.useXDomain = true;
            delete $httpProvider.defaults.headers.common["X-Requested-With"];
            $httpProvider.defaults.headers.common["Accept"] = "application/json";
            $httpProvider.defaults.headers.common["Content-Type"] = "application/json";
        }]);
        tweeterApp.controller('tweetList', function ($scope, $http) {
            $http.get('http://localhost:5000/Api/Get_Date_Document').success(function(data) {
                debugger
                $scope.dateTweets = data;
            });
            $scope.tweets = data
        });
    </script>
</head>
<body ng-controller="tweetList">
    <h1>Global Twitter analysis for  {{ city }}</h1>
    <div id="scenario">
        <span id="S xswscenarioNum">
            There are {{ num_of_scenario }} scenarios in the system
        </span>
        <div>
            Search: <!--<input ng-model="query">-->
        </div>
        <span ng-model="dateTweets">{[dateTweets]}</span>
        <ul>
            <!--<li ng-repeat="tweet in dateTweets | filter:query">
                {[tweet]}
            </li>-->
        </ul>
    </div>
</body>
</html>
